.signup_container {
    text-align: center;
    color: white;
    padding: 2rem;
    padding-top: 0;
}
.signup_container p {
  font-size: 1.2rem;
  font-weight: 450;
}

.signup_container button {
  all: unset;
  background-color: #e50914;
  border-radius: 5px;
  padding: 1rem 5rem;
  color: white;  
}