.watchnow_container {
    text-align: center;
    color: white;
    padding: 2rem;
    padding-top: 0;
}

.watchnow_container a{
  text-decoration: none;
}

.watchnow_container button {
  all: unset;
  background-color: #e50914;
  border-radius: 5px;
  padding: 1rem 5rem;
  color: white;  
}