.signin_form{
    color: #fff;
    padding: 2rem;
}

.input_container input,
.input_container label{
    display: block;
    width: 100%;
}

.button{
    all: unset;
    background-color: #e50914;
    border-radius: 5px;
    padding: 1rem 5rem;
    color: white;  
}